# User research and testing reports

- [UCD](UCD) : User-Centered Design

---

- Site designs often begin with user research
     - including **interviews** and **observations**
- in order to gain a better understanding
     - of **how the site can solve problems or how it will be used**
- It is typical for designers to do a round of user testing
     - at each phase of the design process
     - to ensure the usability of their designs
- If users are having a hard time figuring out
     - where to find content or how to move to the next step
     - in a process, then it’s back to the drawing board
